In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
data_export = pd.read_excel('data/aus_trade.xlsx', sheet_name='Total_g_s_exports', header=0)
data_import = pd.read_excel('data/aus_trade.xlsx', sheet_name='Total_g_s_imports', header=0)

In [3]:
data_export.head()

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,1616.05,1234.1,1436.29,1587.79,1756.6,2094.1,2578.1,3165.15,3514.73,...,64892.3,78129.4,74821.3,94074,91740.7,86742.5,95681.9,116013,136585,168575
1,Japan,10817,13123,14105,15547.3,17250.9,17562.5,18697.9,19269.5,19983.7,...,45682.8,52378.1,49852.9,49436.2,50187.8,42154.9,38451.5,47220.4,58788.5,60417.2
2,Republic of Korea,1618.1,2118.14,2600.69,3132.09,3568.87,3932.62,4803.2,5368.57,7041.78,...,22662.1,25255.5,21812.6,21456.1,22171,20226.1,20430.6,23535.8,26585,28222.3
3,United States,5696.48,6014.21,6801.07,7653.13,7325.16,7062.85,7379.96,7020.03,7366.89,...,14801.7,15455.7,15144.2,16034.5,18596.8,22083.4,20617.7,20983.2,23156.9,25440.3
4,India,na,na,na,na,na,na,na,na,na,...,19973.9,18158.2,14465.8,11594,11534.2,13906.1,15199.8,20268.6,22408.6,21787

In [4]:
data_import.head()

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,834.271,996.65,1355,1456.05,1864.6,2549.47,3225.46,3745.02,4320.47,...,40923.6,43919.3,46442.4,49570.6,54460,64377.2,62323.2,67448.5,78303.1,82841.7
1,United States,10820.3,12122,15206.5,15983.2,15816.7,16390.6,17301.4,19018.7,21252.2,...,36378.3,40711.6,43310.1,41003.5,43391.8,49372.3,44953.6,47331.9,50864.9,55532.5
2,Japan,8605.89,9601.5,11768.9,10641.2,10018.2,11377.1,13264,13649.6,13585.8,...,20573.5,20078.8,21420.5,21608.6,20095.8,23027.2,22823.7,24813,26987.6,26357.2
3,Germany,3130.72,3215.26,3739.11,3828.42,3584.86,3706.09,4042.04,4540.28,5676.36,...,12640,12677.9,13402.8,14132.7,14742.8,15569.8,16471.8,16991.9,18771.6,18183.6
4,Thailand,509.124,596.471,822.311,852.804,887.411,1054.84,1133.79,1240.56,1424.44,...,13265.7,11066,13085,14287.4,13266,15804.6,16878.4,17213.3,17913.7,17385.4

In [5]:
db_conn = sql.connect("flask/data/aus_trade.sqlite")
db_curs = db_conn.cursor()

In [6]:
query_export = 'CREATE TABLE TradeExport (Year VARCHAR'
for c in data_export.columns[1:]:
    query_export += f', "{c}" REAL'
query_export += ', PRIMARY KEY (Year));'

In [7]:
query_export

'CREATE TABLE TradeExport (Year VARCHAR, "1987" REAL, "1988" REAL, "1989" REAL, "1990" REAL, "1991" REAL, "1992" REAL, "1993" REAL, "1994" REAL, "1995" REAL, "1996" REAL, "1997" REAL, "1998" REAL, "1999" REAL, "2000" REAL, "2001" REAL, "2002" REAL, "2003" REAL, "2004" REAL, "2005" REAL, "2006" REAL, "2007" REAL, "2008" REAL, "2009" REAL, "2010" REAL, "2011" REAL, "2012" REAL, "2013" REAL, "2014" REAL, "2015" REAL, "2016" REAL, "2017" REAL, "2018" REAL, "2019" REAL, PRIMARY KEY (Year));'

In [8]:
query_import = 'CREATE TABLE TradeImport (Year VARCHAR'
for c in data_export.columns[1:]:
    query_import += f', "{c}" REAL'
query_import += ', PRIMARY KEY (Year));'

In [9]:
query_import

'CREATE TABLE TradeImport (Year VARCHAR, "1987" REAL, "1988" REAL, "1989" REAL, "1990" REAL, "1991" REAL, "1992" REAL, "1993" REAL, "1994" REAL, "1995" REAL, "1996" REAL, "1997" REAL, "1998" REAL, "1999" REAL, "2000" REAL, "2001" REAL, "2002" REAL, "2003" REAL, "2004" REAL, "2005" REAL, "2006" REAL, "2007" REAL, "2008" REAL, "2009" REAL, "2010" REAL, "2011" REAL, "2012" REAL, "2013" REAL, "2014" REAL, "2015" REAL, "2016" REAL, "2017" REAL, "2018" REAL, "2019" REAL, PRIMARY KEY (Year));'

In [10]:
db_curs.execute(query_export)
db_curs.execute(query_import)

In [11]:
data_export.to_sql('TradeExport', db_conn, if_exists='append', index=False)

In [12]:
x = pd.read_sql('SELECT * FROM TradeExport', db_conn)
x

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,1616.05,1234.1,1436.29,1587.79,1756.6,2094.1,2578.1,3165.15,3514.73,...,64892.3,78129.4,74821.3,94074,91740.7,86742.5,95681.9,116013,136585,168575
1,Japan,10817,13123,14105,15547.3,17250.9,17562.5,18697.9,19269.5,19983.7,...,45682.8,52378.1,49852.9,49436.2,50187.8,42154.9,38451.5,47220.4,58788.5,60417.2
2,Republic of Korea,1618.1,2118.14,2600.69,3132.09,3568.87,3932.62,4803.2,5368.57,7041.78,...,22662.1,25255.5,21812.6,21456.1,22171,20226.1,20430.6,23535.8,26585,28222.3
3,United States,5696.48,6014.21,6801.07,7653.13,7325.16,7062.85,7379.96,7020.03,7366.89,...,14801.7,15455.7,15144.2,16034.5,18596.8,22083.4,20617.7,20983.2,23156.9,25440.3
4,India,na,na,na,na,na,na,na,na,na,...,19973.9,18158.2,14465.8,11594,11534.2,13906.1,15199.8,20268.6,22408.6,21787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Midway Island,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
226,US Pacific Islands,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
227,South Sudan,None,None,None,None,None,None,None,None,None,...,None,None,0.557331,na,na,na,na,na,na,na
228,Former Sudan,na,na,na,na,na,na,na,na,na,...,185.341,202.845,193.014,None,None,None,None,None,None,None
229,Other,3196.91,3037.88,3158.75,3591.09,4732.1,4678.48,5072.87,4874.96,5858.85,...,6613.42,6953.55,7198.33,7281.74,7364.72,6152.3,6517.74,6935.74,6832.74,7442.44

In [13]:
data_import.to_sql('TradeImport', db_conn, if_exists='append', index=False)

In [14]:
y = pd.read_sql('SELECT * FROM TradeImport', db_conn)
y

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,834.271,996.65,1355,1456.05,1864.6,2549.47,3225.46,3745.02,4320.47,...,40923.6,43919.3,46442.4,49570.6,54460,64377.2,62323.2,67448.5,78303.1,82841.7
1,United States,10820.3,12122,15206.5,15983.2,15816.7,16390.6,17301.4,19018.7,21252.2,...,36378.3,40711.6,43310.1,41003.5,43391.8,49372.3,44953.6,47331.9,50864.9,55532.5
2,Japan,8605.89,9601.5,11768.9,10641.2,10018.2,11377.1,13264,13649.6,13585.8,...,20573.5,20078.8,21420.5,21608.6,20095.8,23027.2,22823.7,24813,26987.6,26357.2
3,Germany,3130.72,3215.26,3739.11,3828.42,3584.86,3706.09,4042.04,4540.28,5676.36,...,12640,12677.9,13402.8,14132.7,14742.8,15569.8,16471.8,16991.9,18771.6,18183.6
4,Thailand,509.124,596.471,822.311,852.804,887.411,1054.84,1133.79,1240.56,1424.44,...,13265.7,11066,13085,14287.4,13266,15804.6,16878.4,17213.3,17913.7,17385.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Midway Island,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
226,US Pacific Islands,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
227,South Sudan,None,None,None,None,None,None,None,None,None,...,None,None,0.001688,na,na,na,na,na,na,na
228,Former Sudan,na,na,na,na,na,na,na,na,na,...,25.0455,30.0329,29.1227,None,None,None,None,None,None,None
229,Other,1671.32,3082.23,2538.94,3598.95,3493.32,4022.95,4427.01,5431,5069.7,...,17740,22121.2,24722.9,24032.3,18877.8,15335.1,17908,5547.13,18729.4,19869

In [15]:
a = x.merge(y, on='Year')
a

,Year,1987_x,1988_x,1989_x,1990_x,1991_x,1992_x,1993_x,1994_x,1995_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,China,1616.05,1234.1,1436.29,1587.79,1756.6,2094.1,2578.1,3165.15,3514.73,...,40923.6,43919.3,46442.4,49570.6,54460,64377.2,62323.2,67448.5,78303.1,82841.7
1,Japan,10817,13123,14105,15547.3,17250.9,17562.5,18697.9,19269.5,19983.7,...,20573.5,20078.8,21420.5,21608.6,20095.8,23027.2,22823.7,24813,26987.6,26357.2
2,Republic of Korea,1618.1,2118.14,2600.69,3132.09,3568.87,3932.62,4803.2,5368.57,7041.78,...,7633.91,7600.14,10517.8,11414.7,13266,16168.9,11870,31746.6,14455,13096.2
3,United States,5696.48,6014.21,6801.07,7653.13,7325.16,7062.85,7379.96,7020.03,7366.89,...,36378.3,40711.6,43310.1,41003.5,43391.8,49372.3,44953.6,47331.9,50864.9,55532.5
4,India,na,na,na,na,na,na,na,na,na,...,2841.53,3170.31,3792.78,4089.8,4699.14,6569.86,6317.15,7351.95,8012.24,7445.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Midway Island,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
218,US Pacific Islands,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
219,South Sudan,None,None,None,None,None,None,None,None,None,...,None,None,0.001688,na,na,na,na,na,na,na
220,Former Sudan,na,na,na,na,na,na,na,na,na,...,25.0455,30.0329,29.1227,None,None,None,None,None,None,None
221,Other,3196.91,3037.88,3158.75,3591.09,4732.1,4678.48,5072.87,4874.96,5858.85,...,17740,22121.2,24722.9,24032.3,18877.8,15335.1,17908,5547.13,18729.4,19869

In [16]:
x_c = x[~x['Year'].isin(a['Year'])]['Year']
x_c

21           Switzerland (g)
22                France (d)
26               Belgium (c)
28                 Italy (e)
31               Bahrain (b)
34    Russian Federation (f)
43                 Egypt (b)
54               Iceland (b)
Name: Year, dtype: object

In [17]:
for i in x_c:
    sql_query = f'UPDATE TradeExport SET Year = "{i[:-4]}" WHERE Year = "{i}";'
    db_curs.execute(sql_query)

In [18]:
y_c = y[~y['Year'].isin(a['Year'])]['Year']
y_c

10                  Italy (d)
12                 France (c)
19            Switzerland (f)
27                Belgium (b)
51     Russian Federation (e)
65                      Egypt
90                    Bahrain
117                   Iceland
Name: Year, dtype: object

In [19]:
for j in y_c[:5]:
    sql_query = f'UPDATE TradeImport SET Year = "{j[:-4]}" WHERE Year = "{j}";'
    print(sql_query)
    db_curs.execute(sql_query)

UPDATE TradeImport SET Year = "Italy" WHERE Year = "Italy (d)";
UPDATE TradeImport SET Year = "France" WHERE Year = "France (c)";
UPDATE TradeImport SET Year = "Switzerland" WHERE Year = "Switzerland (f)";
UPDATE TradeImport SET Year = "Belgium" WHERE Year = "Belgium (b)";
UPDATE TradeImport SET Year = "Russian Federation" WHERE Year = "Russian Federation (e)";

In [20]:
xx = pd.read_sql('SELECT * FROM TradeExport', db_conn)
xx

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,1616.05,1234.1,1436.29,1587.79,1756.6,2094.1,2578.1,3165.15,3514.73,...,64892.3,78129.4,74821.3,94074,91740.7,86742.5,95681.9,116013,136585,168575
1,Japan,10817,13123,14105,15547.3,17250.9,17562.5,18697.9,19269.5,19983.7,...,45682.8,52378.1,49852.9,49436.2,50187.8,42154.9,38451.5,47220.4,58788.5,60417.2
2,Republic of Korea,1618.1,2118.14,2600.69,3132.09,3568.87,3932.62,4803.2,5368.57,7041.78,...,22662.1,25255.5,21812.6,21456.1,22171,20226.1,20430.6,23535.8,26585,28222.3
3,United States,5696.48,6014.21,6801.07,7653.13,7325.16,7062.85,7379.96,7020.03,7366.89,...,14801.7,15455.7,15144.2,16034.5,18596.8,22083.4,20617.7,20983.2,23156.9,25440.3
4,India,na,na,na,na,na,na,na,na,na,...,19973.9,18158.2,14465.8,11594,11534.2,13906.1,15199.8,20268.6,22408.6,21787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Midway Island,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
226,US Pacific Islands,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
227,South Sudan,None,None,None,None,None,None,None,None,None,...,None,None,0.557331,na,na,na,na,na,na,na
228,Former Sudan,na,na,na,na,na,na,na,na,na,...,185.341,202.845,193.014,None,None,None,None,None,None,None
229,Other,3196.91,3037.88,3158.75,3591.09,4732.1,4678.48,5072.87,4874.96,5858.85,...,6613.42,6953.55,7198.33,7281.74,7364.72,6152.3,6517.74,6935.74,6832.74,7442.44

In [21]:
for z in xx['Year']:
    print(z)

China
Japan
Republic of Korea
United States
India
United Kingdom
Singapore
New Zealand
Taiwan
Malaysia
Hong Kong (SAR of China)
Indonesia
Vietnam
Thailand
Germany
United Arab Emirates
Netherlands
Philippines
Canada
Nepal
Papua New Guinea
Switzerland
France
Brazil
South Africa
Ireland
Belgium
Bangladesh
Italy
Pakistan
Saudi Arabia
Bahrain
Sri Lanka
Qatar
Russian Federation
Spain
Colombia
Sweden
Poland
Fiji
Chile
New Caledonia
Turkey
Egypt
Norway
Mozambique
Oman
Kuwait
Mexico
Argentina
Israel
Denmark
Kenya
Cayman Islands
Iceland
Cambodia
Iran
Mauritius
Myanmar
Yemen
Macau (SAR of China)
Nigeria
Peru
Mongolia
Czech Republic
Bermuda
Jordan
Finland
Ghana
Bhutan
Solomon Islands
Austria
Vanuatu
Greece
Slovenia
Ukraine
Panama
Brunei
Venezuela
Lebanon
Hungary
Portugal
Cote d'Ivoire
Georgia
Zimbabwe
Luxembourg
Timor-Leste
Samoa
Maldives
Laos
French Polynesia
Tanzania
Nauru
Iraq
Tonga
Romania
Estonia
Slovak Republic
Kazakhstan
Ecuador
Bulgaria
Zambia
Lithuania
Uruguay
Trinidad & Tobago
Burkina Faso
Cyprus
Latvia
Botswana
Jamaica
Madagascar
Gibraltar
Southern and East Africa nec
Senegal
Morocco
Kiribati
North Macedonia
Bahamas
Malta
Serbia
Croatia
Afghanistan
Ethiopia
Suriname
Dominican Republic
Cook Islands
Mali
Sierra Leone
Uganda
UK Virgin Islands
Sudan
Namibia
El Salvador
Seychelles
Uzbekistan
Marshall Islands
Norfolk Island
Guam
Azerbaijan
American Samoa
Reunion
Mauritania
Costa Rica
Eritrea
Guatemala
Belarus
Barbados
Paraguay
Guyana
Algeria
Togo
Libya
Malawi
Bosnia-Herzegovina
Guinea
Kyrgyzstan
Tuvalu
Albania
Angola
Democratic Republic of the Congo
Bolivia
Rwanda
Federated States of Micronesia
Cameroon
Syria
Tunisia
Eswatini
Wallis & Futuna Island
Liberia
Honduras
Armenia
Puerto Rico
Cuba
Somalia
Palau
Chad
Gaza Strip and West Bank
St Lucia
Montenegro
Gabon
Northern Mariana Islands
Djibouti
Grenada
Dominica
Belize
St Vincent & Grenadines
Republic of Congo
Polynesia (excl Hawaii) nec
Burundi
Lesotho
Moldova
St Kitts & Nevis
Antigua & Barbuda
Niue
Nicaragua
St Helena
Cabo Verde
Central African Republic
Benin
Equatorial Guinea
Netherlands Antilles
Pitcairn Islands
Falkland Islands
US Virgin Islands
Haiti
Gambia
Guinea-Bissau
French Guiana
Niger
Turkmenistan
Tajikistan
Turks & Caicos Islands
St Pierre & Miquelon
Montserrat
Anguilla
Sao Tome & Principe
Democratic People's Republic of Korea
Comoros
Western Sahara
Adelie Land (France)
Antarctica
Christmas Island
Cocos Keeling Islands
French Antilles
French Southern Territories
Midway Island
US Pacific Islands
South Sudan
Former Sudan
Other

In [22]:
yy = pd.read_sql('SELECT * FROM TradeImport', db_conn)
yy

,Year,1987,1988,1989,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,China,834.271,996.65,1355,1456.05,1864.6,2549.47,3225.46,3745.02,4320.47,...,40923.6,43919.3,46442.4,49570.6,54460,64377.2,62323.2,67448.5,78303.1,82841.7
1,United States,10820.3,12122,15206.5,15983.2,15816.7,16390.6,17301.4,19018.7,21252.2,...,36378.3,40711.6,43310.1,41003.5,43391.8,49372.3,44953.6,47331.9,50864.9,55532.5
2,Japan,8605.89,9601.5,11768.9,10641.2,10018.2,11377.1,13264,13649.6,13585.8,...,20573.5,20078.8,21420.5,21608.6,20095.8,23027.2,22823.7,24813,26987.6,26357.2
3,Germany,3130.72,3215.26,3739.11,3828.42,3584.86,3706.09,4042.04,4540.28,5676.36,...,12640,12677.9,13402.8,14132.7,14742.8,15569.8,16471.8,16991.9,18771.6,18183.6
4,Thailand,509.124,596.471,822.311,852.804,887.411,1054.84,1133.79,1240.56,1424.44,...,13265.7,11066,13085,14287.4,13266,15804.6,16878.4,17213.3,17913.7,17385.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Midway Island,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
226,US Pacific Islands,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
227,South Sudan,None,None,None,None,None,None,None,None,None,...,None,None,0.001688,na,na,na,na,na,na,na
228,Former Sudan,na,na,na,na,na,na,na,na,na,...,25.0455,30.0329,29.1227,None,None,None,None,None,None,None
229,Other,1671.32,3082.23,2538.94,3598.95,3493.32,4022.95,4427.01,5431,5069.7,...,17740,22121.2,24722.9,24032.3,18877.8,15335.1,17908,5547.13,18729.4,19869

In [23]:
for z in yy['Year']:
    print(z)

China
United States
Japan
Germany
Thailand
United Kingdom
Singapore
New Zealand
Republic of Korea
Malaysia
Italy
Indonesia
France
Vietnam
India
Taiwan
United Arab Emirates
Canada
Papua New Guinea
Switzerland
Netherlands
Hong Kong (SAR of China)
Ireland
Mexico
Spain
Sweden
Austria
Belgium
Philippines
South Africa
Fiji
Denmark
Turkey
Finland
Poland
Brunei
Bangladesh
Israel
Qatar
Greece
Norway
Brazil
Algeria
Argentina
Libya
Chile
Czech Republic
Hungary
Sri Lanka
Saudi Arabia
Nigeria
Russian Federation
Pakistan
Cambodia
Slovak Republic
Portugal
Lebanon
Peru
Puerto Rico
Estonia
Bermuda
Cyprus
Luxembourg
Romania
Vanuatu
Egypt
Colombia
Kuwait
Mauritius
Slovenia
Solomon Islands
Kenya
Republic of Congo
Nepal
Iran
Costa Rica
Timor-Leste
Croatia
Malta
Samoa
Myanmar
Serbia
Yemen
Jordan
Morocco
Bulgaria
Lithuania
New Caledonia
Maldives
Ukraine
Bahrain
Afghanistan
Zimbabwe
Gabon
Mauritania
Ethiopia
Cook Islands
Honduras
Macau (SAR of China)
Tanzania
Iraq
Zambia
Oman
Laos
Venezuela
Ghana
Tonga
Ecuador
Dominican Republic
Tunisia
North Macedonia
Namibia
Latvia
Cuba
Bosnia-Herzegovina
Liberia
Madagascar
Iceland
Uganda
Botswana
French Polynesia
Guatemala
Uruguay
Marshall Islands
Belarus
Bolivia
Nauru
Gibraltar
Sudan
Panama
Nicaragua
Mongolia
Seychelles
Kazakhstan
El Salvador
Togo
Cote d'Ivoire
American Samoa
Mozambique
Syria
Guinea
Albania
Trinidad & Tobago
Somalia
Sierra Leone
Bhutan
Bahamas
Rwanda
Senegal
Cayman Islands
Armenia
Georgia
Kiribati
Malawi
Paraguay
Jamaica
Mali
Eswatini
Haiti
Federated States of Micronesia
Burundi
Montenegro
Uzbekistan
Barbados
Moldova
Reunion
Guam
Belize
Dominica
Angola
Niger
Eritrea
Southern and East Africa nec
UK Virgin Islands
Democratic Republic of the Congo
Cameroon
Azerbaijan
Palau
Burkina Faso
Niue
Djibouti
Kyrgyzstan
Anguilla
Antigua & Barbuda
St Helena
Guyana
Lesotho
Suriname
Tuvalu
Chad
Grenada
Gaza Strip and West Bank
Benin
Gambia
Equatorial Guinea
US Virgin Islands
St Kitts & Nevis
Norfolk Island
Falkland Islands
Netherlands Antilles
Polynesia (excl Hawaii) nec
St Lucia
Central African Republic
Cabo Verde
Sao Tome & Principe
Turkmenistan
Wallis & Futuna Island
Tajikistan
Montserrat
Comoros
French Guiana
St Vincent & Grenadines
Guinea-Bissau
Pitcairn Islands
Turks & Caicos Islands
Northern Mariana Islands
St Pierre & Miquelon
Western Sahara
Democratic People's Republic of Korea
Adelie Land (France)
Antarctica
Christmas Island
Cocos Keeling Islands
French Antilles
French Southern Territories
Midway Island
US Pacific Islands
South Sudan
Former Sudan
Other

In [24]:
aa = xx.merge(yy, on='Year')
aa

,Year,1987_x,1988_x,1989_x,1990_x,1991_x,1992_x,1993_x,1994_x,1995_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,China,1616.05,1234.1,1436.29,1587.79,1756.6,2094.1,2578.1,3165.15,3514.73,...,40923.6,43919.3,46442.4,49570.6,54460,64377.2,62323.2,67448.5,78303.1,82841.7
1,Japan,10817,13123,14105,15547.3,17250.9,17562.5,18697.9,19269.5,19983.7,...,20573.5,20078.8,21420.5,21608.6,20095.8,23027.2,22823.7,24813,26987.6,26357.2
2,Republic of Korea,1618.1,2118.14,2600.69,3132.09,3568.87,3932.62,4803.2,5368.57,7041.78,...,7633.91,7600.14,10517.8,11414.7,13266,16168.9,11870,31746.6,14455,13096.2
3,United States,5696.48,6014.21,6801.07,7653.13,7325.16,7062.85,7379.96,7020.03,7366.89,...,36378.3,40711.6,43310.1,41003.5,43391.8,49372.3,44953.6,47331.9,50864.9,55532.5
4,India,na,na,na,na,na,na,na,na,na,...,2841.53,3170.31,3792.78,4089.8,4699.14,6569.86,6317.15,7351.95,8012.24,7445.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Midway Island,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
226,US Pacific Islands,na,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
227,South Sudan,None,None,None,None,None,None,None,None,None,...,None,None,0.001688,na,na,na,na,na,na,na
228,Former Sudan,na,na,na,na,na,na,na,na,na,...,25.0455,30.0329,29.1227,None,None,None,None,None,None,None
229,Other,3196.91,3037.88,3158.75,3591.09,4732.1,4678.48,5072.87,4874.96,5858.85,...,17740,22121.2,24722.9,24032.3,18877.8,15335.1,17908,5547.13,18729.4,19869

In [25]:
xx.set_index('Year', inplace=True)
xx = xx.T
xx

Year,China,Japan,Republic of Korea,United States,India,United Kingdom,Singapore,New Zealand,Taiwan,Malaysia,...,Antarctica,Christmas Island,Cocos Keeling Islands,French Antilles,French Southern Territories,Midway Island,US Pacific Islands,South Sudan,Former Sudan,Other
1987,1616.05,10817,1618.1,5696.48,na,2758.25,1148.94,3135.45,1349.74,906.334,...,na,na,na,na,na,na,na,None,na,3196.91
1988,1234.1,13123,2118.14,6014.21,na,2892.28,1636.12,3370.52,1568.33,1056.01,...,na,na,na,na,na,na,na,None,na,3037.88
1989,1436.29,14105,2600.69,6801.07,na,3154.08,2037.96,3684.85,1871.35,1210.2,...,na,na,na,na,na,na,na,None,na,3158.75
1990,1587.79,15547.3,3132.09,7653.13,na,3486.1,2803.86,3789.89,1957.49,1377.65,...,na,na,na,na,na,na,na,None,na,3591.09
1991,1756.6,17250.9,3568.87,7325.16,na,3488.68,3447.12,3875.5,2543.25,1492.88,...,na,na,na,na,na,na,na,None,na,4732.1
1992,2094.1,17562.5,3932.62,7062.85,na,4137.42,4425.99,4199.52,2889.77,1625.64,...,na,na,na,na,na,na,na,None,na,4678.48
1993,2578.1,18697.9,4803.2,7379.96,na,4657.24,4065.62,4882.19,3288.49,2104.9,...,na,na,na,na,na,na,na,None,na,5072.87
1994,3165.15,19269.5,5368.57,7020.03,na,4241.05,4465.99,5578.59,3449.35,2600.97,...,na,na,na,na,na,na,na,None,na,4874.96
1995,3514.73,19983.7,7041.78,7366.89,na,4419.32,5099.33,6642.2,3993.85,2967.27,...,na,na,na,na,na,na,na,None,na,5858.85
1996,4234.54,19438.2,8320.88,8120.72,na,5155.47,4422.62,7278.5,3911.8,2978.11,...,na,na,na,na,na,na,na,None,na,6515.69
1997,4384.59,20593.5,7801.55,9979.63,na,4933.48,5190.31,7951.62,4533.77,3197.61,...,na,na,na,na,na,na,na,None,na,9310.73
1998,4279.03,20973.6,6618.94,12720.8,na,7621.08,4670.98,7507.91,4747.95,2657.38,...,na,na,na,na,na,na,na,None,na,7173.6
1999,4716.08,20030.5,6896.02,12988.7,1939.52,7054.88,5709.45,8747.02,4672.29,2775.81,...,na,na,na,na,na,na,na,None,na,6428.59
2000,6859.79,25018.1,9868.63,16677.4,2304.36,7757.92,8012.14,9408.79,6003.59,3292.34,...,na,na,na,na,na,na,na,None,na,8616.62
2001,8821.66,26879.8,10674.7,16444.7,2996.19,9287.53,7816.96,9996.77,5803,3566.38,...,na,na,na,na,na,na,na,None,na,8883.65
2002,10050.2,25399.4,11065.8,16298.3,3003.77,9914.37,7590.38,10751.1,5184.34,3372.79,...,na,na,na,na,na,na,na,None,na,7936.21
2003,11181.8,22593.2,9276.92,14148.1,3933.27,12006.5,5835.63,11194.3,4176.52,3274.29,...,na,na,na,na,na,na,na,None,na,7387.84
2004,13730.5,25310.7,10416.7,13972.8,6262,9863.69,5672.68,12035.3,4568.46,3645.06,...,na,na,na,na,na,na,na,None,na,7360.58
2005,19067.5,31582.5,12478.6,13929.3,8167.6,10098.1,6746.03,12611.8,5985.78,3838.17,...,na,na,na,na,na,na,na,None,na,8483.21
2006,23761.9,35469.6,14230.7,15792,10349.1,13565.6,7603.31,12608.9,6758.59,4105.77,...,na,na,na,na,na,na,na,None,na,10703.3
2007,27920.9,34581,15601.1,15956.4,11424,12342.1,7513.39,13369.9,6478.7,4613.66,...,na,na,na,na,na,na,na,None,141.038,8016.38
2008,37372.7,53145.8,20527.6,18371,16740,14287,10410.6,13338.8,8784,5706.54,...,na,na,na,na,na,na,na,None,253.781,8944.06
2009,48269.8,40308.7,17749.5,15402,18307.8,13669.1,8617.21,11449.9,7112.38,4966.5,...,na,na,na,na,na,na,na,None,312.606,5859.12
2010,64892.3,45682.8,22662.1,14801.7,19973.9,12774.4,7762.06,11539.9,8968.29,5460.54,...,na,na,na,na,na,na,na,None,185.341,6613.42
2011,78129.4,52378.1,25255.5,15455.7,18158.2,11972.2,9835.01,11333.7,9757.45,6311.98,...,na,na,na,na,na,na,na,None,202.845,6953.55
2012,74821.3,49852.9,21812.6,15144.2,14465.8,11193.7,10568.3,11214.7,8740.19,6971.31,...,na,na,na,na,na,na,na,0.557331,193.014,7198.33
2013,94074,49436.2,21456.1,16034.5,11594,8573.85,9425.06,11329.1,8193.77,7508.22,...,na,na,na,na,na,na,na,na,None,7281.74
2014,91740.7,50187.8,22171,18596.8,11534.2,8887.63,12289.8,12449.7,8091.26,8319.02,...,na,na,na,na,na,na,na,na,None,7364.72
2015,86742.5,42154.9,20226.1,22083.4,13906.1,9341.19,11267.4,12967.8,7627.94,8205.83,...,na,na,na,na,na,na,na,na,None,6152.3
2016,95681.9,38451.5,20430.6,20617.7,15199.8,15462,10710.3,13253.1,8935.67,7874.39,...,na,na,na,na,na,na,na,na,None,6517.74
2017,116013,47220.4,23535.8,20983.2,20268.6,11552.7,11959.9,14037.8,10404.8,8577.56,...,na,na,na,na,na,na,na,na,None,6935.74
2018,136585,58788.5,26585,23156.9,22408.6,10501.8,14709.5,15048.9,12253.1,10104.7,...,na,na,na,na,na,na,na,na,None,6832.74
2019,168575,60417.2,28222.3,25440.3,21787,21207.7,16886.8,16565.8,14304.4,11699.6,...,na,na,na,na,na,na,na,na,None,7442.44

In [26]:
yy.set_index('Year', inplace=True)
yy = yy.T
yy

Year,China,United States,Japan,Germany,Thailand,United Kingdom,Singapore,New Zealand,Republic of Korea,Malaysia,...,Antarctica,Christmas Island,Cocos Keeling Islands,French Antilles,French Southern Territories,Midway Island,US Pacific Islands,South Sudan,Former Sudan,Other
1987,834.271,10820.3,8605.89,3130.72,509.124,5091.31,1335.48,2246.19,1069.69,648.926,...,na,na,na,na,na,na,na,None,na,1671.32
1988,996.65,12122,9601.5,3215.26,596.471,5684.18,1642.15,2605.65,1180.95,828.676,...,na,na,na,na,na,na,na,None,na,3082.23
1989,1355,15206.5,11768.9,3739.11,822.311,6419.16,2069.22,2953.16,1437.67,1004.66,...,na,na,na,na,na,na,na,None,na,2538.94
1990,1456.05,15983.2,10641.2,3828.42,852.804,6377.94,1959.9,3020.4,1288.17,925.903,...,na,na,na,na,na,na,na,None,na,3598.95
1991,1864.6,15816.7,10018.2,3584.86,887.411,5871.53,2144.41,3093.32,1362.37,1040.52,...,na,na,na,na,na,na,na,None,na,3493.32
1992,2549.47,16390.6,11377.1,3706.09,1054.84,6340.2,2195.15,3427.9,1656.09,1264.43,...,na,na,na,na,na,na,na,None,na,4022.95
1993,3225.46,17301.4,13264,4042.04,1133.79,6774.42,2515.86,3896.93,2047.69,1419.53,...,na,na,na,na,na,na,na,None,na,4427.01
1994,3745.02,19018.7,13649.6,4540.28,1240.56,7477.93,3116.12,4280.21,1996.29,1669.77,...,na,na,na,na,na,na,na,None,na,5431
1995,4320.47,21252.2,13585.8,5676.36,1424.44,8376.36,3724.46,4618.47,2540.66,2072.07,...,na,na,na,na,na,na,na,None,na,5069.7
1996,4577.99,22938.2,11697,5228.3,1453.52,9030.07,3917.3,4770.91,2612.73,2244.18,...,na,na,na,na,na,na,na,None,na,4352
1997,5277.34,23762.4,12807.2,5330.32,1710.95,8892.59,3576.12,4903.09,3241.23,2754.96,...,na,na,na,na,na,na,na,None,na,7330.53
1998,6443.55,27457.8,14821.9,6663.6,2150.89,9333.23,4114.65,5317.46,4477.26,3451.69,...,na,na,na,na,na,na,na,None,na,7695.66
1999,7216.07,27410.8,15593.4,6710.6,2690.26,8843.94,6045.71,5622.57,4111.47,3984.82,...,na,na,na,na,na,na,na,None,na,7126.2
2000,9805.21,30261.4,17034.5,6889.03,3496.48,11408.9,5764.53,6135.45,5077.69,5115.36,...,na,na,na,na,na,na,na,None,na,8609.21
2001,11067.9,27747.1,17150.6,7859.74,3505.77,10336.2,6174.65,6568.07,4987.65,4687.31,...,na,na,na,na,na,na,na,None,na,8587.59
2002,13805.2,29487.8,17240.1,8487.87,3945.68,10135,6723.31,6721.49,5087.88,4597.83,...,na,na,na,na,na,na,na,None,na,8752.84
2003,15194,26922.8,17810.4,9050.07,4292.91,9883.46,6667.41,7058.16,5177.93,4938.2,...,na,na,na,na,na,na,na,None,na,9279.39
2004,19159.4,26949.6,18405.6,9399.67,4700.11,10526.6,8800.15,7350,5265.93,6361.24,...,na,na,na,na,na,na,na,None,na,10873.7
2005,22837.5,28181.8,18917.2,9902.03,5825.73,11134.5,11634.6,7607.78,5520.36,6966.59,...,na,na,na,na,na,na,na,None,na,12158.6
2006,26795.8,32145.9,19112.3,10222,7692.47,10861.9,14851.6,8001.21,7332.17,7670.99,...,na,na,na,na,na,na,na,None,na,15349
2007,30427.6,33278.4,19828.7,11674.7,9807.36,13425.4,14903,9117.7,6356.85,8450.3,...,na,na,na,na,na,na,na,None,21.0508,13995
2008,36886.6,37910.6,22491,13562,12441.2,15973.2,21139.7,10745.4,6885.94,10101.5,...,na,na,na,na,na,na,na,None,25.0261,14473
2009,37343.9,35325.9,18777.9,12519.8,14159.2,12160.8,14723.4,9944.48,7009.09,8617.07,...,na,na,na,na,na,na,na,None,24.1061,13147.6
2010,40923.6,36378.3,20573.5,12640,13265.7,12160.2,14106.6,10315.6,7633.91,10328.1,...,na,na,na,na,na,na,na,None,25.0455,17740
2011,43919.3,40711.6,20078.8,12677.9,11066,13186.2,17893.4,10970.5,7600.14,9978.97,...,na,na,na,na,na,na,na,None,30.0329,22121.2
2012,46442.4,43310.1,21420.5,13402.8,13085,13162.2,18712.4,10576.3,10517.8,11007.8,...,na,na,na,na,na,na,na,0.001688,29.1227,24722.9
2013,49570.6,41003.5,21608.6,14132.7,14287.4,13229.6,17902.8,11107.6,11414.7,11069.3,...,na,na,na,na,na,na,na,na,None,24032.3
2014,54460,43391.8,20095.8,14742.8,13266,13491.5,17583.7,11906.6,13266,12755.6,...,na,na,na,na,na,na,na,na,None,18877.8
2015,64377.2,49372.3,23027.2,15569.8,15804.6,15221.7,14740.9,12012.7,16168.9,11257,...,na,na,na,na,na,na,na,na,None,15335.1
2016,62323.2,44953.6,22823.7,16471.8,16878.4,14868.6,12364.5,12378.2,11870,10276.3,...,na,na,na,na,na,na,na,na,None,17908
2017,67448.5,47331.9,24813,16991.9,17213.3,15486.2,13375.9,13570.6,31746.6,12175.7,...,na,na,na,na,na,na,na,na,None,5547.13
2018,78303.1,50864.9,26987.6,18771.6,17913.7,16518.4,17257.6,14289,14455,13971.4,...,na,na,na,na,na,na,na,na,None,18729.4
2019,82841.7,55532.5,26357.2,18183.6,17385.4,17246.2,16294.4,14541.9,13096.2,12253,...,na,na,na,na,na,na,na,na,None,19869

In [27]:
ttt = pd.DataFrame(yy,index=[])
ttt

Empty DataFrame
Columns: [China, United States, Japan, Germany, Thailand, United Kingdom, Singapore, New Zealand, Republic of Korea, Malaysia, Italy, Indonesia, France, Vietnam, India, Taiwan, United Arab Emirates, Canada, Papua New Guinea, Switzerland, Netherlands, Hong Kong (SAR of China), Ireland, Mexico, Spain, Sweden, Austria, Belgium, Philippines, South Africa, Fiji, Denmark, Turkey, Finland, Poland, Brunei, Bangladesh, Israel, Qatar, Greece, Norway, Brazil, Algeria, Argentina, Libya, Chile, Czech Republic, Hungary, Sri Lanka, Saudi Arabia, Nigeria, Russian Federation, Pakistan, Cambodia, Slovak Republic, Portugal, Lebanon, Peru, Puerto Rico, Estonia, Bermuda, Cyprus, Luxembourg, Romania, Vanuatu, Egypt, Colombia, Kuwait, Mauritius, Slovenia, Solomon Islands, Kenya, Republic of Congo, Nepal, Iran, Costa Rica, Timor-Leste, Croatia, Malta, Samoa, Myanmar, Serbia, Yemen, Jordan, Morocco, Bulgaria, Lithuania, New Caledonia, Maldives, Ukraine, Bahrain, Afghanistan, Zimbabwe, Gabon, Mauritania, Ethiopia, Cook Islands, Honduras, Macau (SAR of China), Tanzania, ...]
Index: []

[0 rows x 230 columns]

In [28]:
query_export_create = 'CREATE TABLE YearTradeExport (Year INTEGER'
for x in xx.columns:
    query_export_create += f', "{x}" REAL'
query_export_create += ', PRIMARY KEY (Year))'
query_export_create

'CREATE TABLE YearTradeExport (Year INTEGER, "China" REAL, "Japan" REAL, "Republic of Korea" REAL, "United States" REAL, "India" REAL, "United Kingdom" REAL, "Singapore" REAL, "New Zealand" REAL, "Taiwan" REAL, "Malaysia" REAL, "Hong Kong (SAR of China)" REAL, "Indonesia" REAL, "Vietnam" REAL, "Thailand" REAL, "Germany" REAL, "United Arab Emirates" REAL, "Netherlands" REAL, "Philippines" REAL, "Canada" REAL, "Nepal" REAL, "Papua New Guinea" REAL, "Switzerland" REAL, "France" REAL, "Brazil" REAL, "South Africa" REAL, "Ireland" REAL, "Belgium" REAL, "Bangladesh" REAL, "Italy" REAL, "Pakistan" REAL, "Saudi Arabia" REAL, "Bahrain" REAL, "Sri Lanka" REAL, "Qatar" REAL, "Russian Federation" REAL, "Spain" REAL, "Colombia" REAL, "Sweden" REAL, "Poland" REAL, "Fiji" REAL, "Chile" REAL, "New Caledonia" REAL, "Turkey" REAL, "Egypt" REAL, "Norway" REAL, "Mozambique" REAL, "Oman" REAL, "Kuwait" REAL, "Mexico" REAL, "Argentina" REAL, "Israel" REAL, "Denmark" REAL, "Kenya" REAL, "Cayman Islands" REAL, "Iceland" REAL, "Cambodia" REAL, "Iran" REAL, "Mauritius" REAL, "Myanmar" REAL, "Yemen" REAL, "Macau (SAR of China)" REAL, "Nigeria" REAL, "Peru" REAL, "Mongolia" REAL, "Czech Republic" REAL, "Bermuda" REAL, "Jordan" REAL, "Finland" REAL, "Ghana" REAL, "Bhutan" REAL, "Solomon Islands" REAL, "Austria" REAL, "Vanuatu" REAL, "Greece" REAL, "Slovenia" REAL, "Ukraine" REAL, "Panama" REAL, "Brunei" REAL, "Venezuela" REAL, "Lebanon" REAL, "Hungary" REAL, "Portugal" REAL, "Cote d\'Ivoire" REAL, "Georgia" REAL, "Zimbabwe" REAL, "Luxembourg" REAL, "Timor-Leste" REAL, "Samoa" REAL, "Maldives" REAL, "Laos" REAL, "French Polynesia" REAL, "Tanzania" REAL, "Nauru" REAL, "Iraq" REAL, "Tonga" REAL, "Romania" REAL, "Estonia" REAL, "Slovak Republic" REAL, "Kazakhstan" REAL, "Ecuador" REAL, "Bulgaria" REAL, "Zambia" REAL, "Lithuania" REAL, "Uruguay" REAL, "Trinidad & Tobago" REAL, "Burkina Faso" REAL, "Cyprus" REAL, "Latvia" REAL, "Botswana" REAL, "Jamaica" REAL, "Madagascar" REAL, "Gibraltar" REAL, "Southern and East Africa nec" REAL, "Senegal" REAL, "Morocco" REAL, "Kiribati" REAL, "North Macedonia" REAL, "Bahamas" REAL, "Malta" REAL, "Serbia" REAL, "Croatia" REAL, "Afghanistan" REAL, "Ethiopia" REAL, "Suriname" REAL, "Dominican Republic" REAL, "Cook Islands" REAL, "Mali" REAL, "Sierra Leone" REAL, "Uganda" REAL, "UK Virgin Islands" REAL, "Sudan" REAL, "Namibia" REAL, "El Salvador" REAL, "Seychelles" REAL, "Uzbekistan" REAL, "Marshall Islands" REAL, "Norfolk Island" REAL, "Guam" REAL, "Azerbaijan" REAL, "American Samoa" REAL, "Reunion" REAL, "Mauritania" REAL, "Costa Rica" REAL, "Eritrea" REAL, "Guatemala" REAL, "Belarus" REAL, "Barbados" REAL, "Paraguay" REAL, "Guyana" REAL, "Algeria" REAL, "Togo" REAL, "Libya" REAL, "Malawi" REAL, "Bosnia-Herzegovina" REAL, "Guinea" REAL, "Kyrgyzstan" REAL, "Tuvalu" REAL, "Albania" REAL, "Angola" REAL, "Democratic Republic of the Congo" REAL, "Bolivia" REAL, "Rwanda" REAL, "Federated States of Micronesia" REAL, "Cameroon" REAL, "Syria" REAL, "Tunisia" REAL, "Eswatini" REAL, "Wallis & Futuna Island" REAL, "Liberia" REAL, "Honduras" REAL, "Armenia" REAL, "Puerto Rico" REAL, "Cuba" REAL, "Somalia" REAL, "Palau" REAL, "Chad" REAL, "Gaza Strip and West Bank" REAL, "St Lucia" REAL, "Montenegro" REAL, "Gabon" REAL, "Northern Mariana Islands" REAL, "Djibouti" REAL, "Grenada" REAL, "Dominica" REAL, "Belize" REAL, "St Vincent & Grenadines" REAL, "Republic of Congo" REAL, "Polynesia (excl Hawaii) nec" REAL, "Burundi" REAL, "Lesotho" REAL, "Moldova" REAL, "St Kitts & Nevis" REAL, "Antigua & Barbuda" REAL, "Niue" REAL, "Nicaragua" REAL, "St Helena" REAL, "Cabo Verde" REAL, "Central African Republic" REAL, "Benin" REAL, "Equatorial Guinea" REAL, "Netherlands Antilles" REAL, "Pitcairn Islands" REAL, "Falkland Islands" REAL, "US Virgin Islands" REAL, "Haiti" REAL, "Gambia" REAL, "Guinea-Bissau" REAL, "French Guiana" REAL, "Niger" REAL, "Turkmenistan" REAL, "Tajikistan" REAL, "Turks & Caicos Islands" REAL, "St Pierre & Miquelon" REAL, "Montserrat" REAL, "Anguilla" REAL, "Sao Tome & Principe" REAL, "Democratic People\'s Republic of Korea" REAL, "Comoros" REAL, "Western Sahara" REAL, "Adelie Land (France)" REAL, "Antarctica" REAL, "Christmas Island" REAL, "Cocos Keeling Islands" REAL, "French Antilles" REAL, "French Southern Territories" REAL, "Midway Island" REAL, "US Pacific Islands" REAL, "South Sudan" REAL, "Former Sudan" REAL, "Other" REAL, PRIMARY KEY (Year))'

In [29]:
db_curs.execute(query_export_create)

In [30]:
query_import_create = 'CREATE TABLE YearTradeImport (Year INTEGER'
for x in xx.columns:
    query_import_create += f', "{x}" REAL'
query_import_create += ', PRIMARY KEY (Year))'
query_import_create

'CREATE TABLE YearTradeImport (Year INTEGER, "China" REAL, "Japan" REAL, "Republic of Korea" REAL, "United States" REAL, "India" REAL, "United Kingdom" REAL, "Singapore" REAL, "New Zealand" REAL, "Taiwan" REAL, "Malaysia" REAL, "Hong Kong (SAR of China)" REAL, "Indonesia" REAL, "Vietnam" REAL, "Thailand" REAL, "Germany" REAL, "United Arab Emirates" REAL, "Netherlands" REAL, "Philippines" REAL, "Canada" REAL, "Nepal" REAL, "Papua New Guinea" REAL, "Switzerland" REAL, "France" REAL, "Brazil" REAL, "South Africa" REAL, "Ireland" REAL, "Belgium" REAL, "Bangladesh" REAL, "Italy" REAL, "Pakistan" REAL, "Saudi Arabia" REAL, "Bahrain" REAL, "Sri Lanka" REAL, "Qatar" REAL, "Russian Federation" REAL, "Spain" REAL, "Colombia" REAL, "Sweden" REAL, "Poland" REAL, "Fiji" REAL, "Chile" REAL, "New Caledonia" REAL, "Turkey" REAL, "Egypt" REAL, "Norway" REAL, "Mozambique" REAL, "Oman" REAL, "Kuwait" REAL, "Mexico" REAL, "Argentina" REAL, "Israel" REAL, "Denmark" REAL, "Kenya" REAL, "Cayman Islands" REAL, "Iceland" REAL, "Cambodia" REAL, "Iran" REAL, "Mauritius" REAL, "Myanmar" REAL, "Yemen" REAL, "Macau (SAR of China)" REAL, "Nigeria" REAL, "Peru" REAL, "Mongolia" REAL, "Czech Republic" REAL, "Bermuda" REAL, "Jordan" REAL, "Finland" REAL, "Ghana" REAL, "Bhutan" REAL, "Solomon Islands" REAL, "Austria" REAL, "Vanuatu" REAL, "Greece" REAL, "Slovenia" REAL, "Ukraine" REAL, "Panama" REAL, "Brunei" REAL, "Venezuela" REAL, "Lebanon" REAL, "Hungary" REAL, "Portugal" REAL, "Cote d\'Ivoire" REAL, "Georgia" REAL, "Zimbabwe" REAL, "Luxembourg" REAL, "Timor-Leste" REAL, "Samoa" REAL, "Maldives" REAL, "Laos" REAL, "French Polynesia" REAL, "Tanzania" REAL, "Nauru" REAL, "Iraq" REAL, "Tonga" REAL, "Romania" REAL, "Estonia" REAL, "Slovak Republic" REAL, "Kazakhstan" REAL, "Ecuador" REAL, "Bulgaria" REAL, "Zambia" REAL, "Lithuania" REAL, "Uruguay" REAL, "Trinidad & Tobago" REAL, "Burkina Faso" REAL, "Cyprus" REAL, "Latvia" REAL, "Botswana" REAL, "Jamaica" REAL, "Madagascar" REAL, "Gibraltar" REAL, "Southern and East Africa nec" REAL, "Senegal" REAL, "Morocco" REAL, "Kiribati" REAL, "North Macedonia" REAL, "Bahamas" REAL, "Malta" REAL, "Serbia" REAL, "Croatia" REAL, "Afghanistan" REAL, "Ethiopia" REAL, "Suriname" REAL, "Dominican Republic" REAL, "Cook Islands" REAL, "Mali" REAL, "Sierra Leone" REAL, "Uganda" REAL, "UK Virgin Islands" REAL, "Sudan" REAL, "Namibia" REAL, "El Salvador" REAL, "Seychelles" REAL, "Uzbekistan" REAL, "Marshall Islands" REAL, "Norfolk Island" REAL, "Guam" REAL, "Azerbaijan" REAL, "American Samoa" REAL, "Reunion" REAL, "Mauritania" REAL, "Costa Rica" REAL, "Eritrea" REAL, "Guatemala" REAL, "Belarus" REAL, "Barbados" REAL, "Paraguay" REAL, "Guyana" REAL, "Algeria" REAL, "Togo" REAL, "Libya" REAL, "Malawi" REAL, "Bosnia-Herzegovina" REAL, "Guinea" REAL, "Kyrgyzstan" REAL, "Tuvalu" REAL, "Albania" REAL, "Angola" REAL, "Democratic Republic of the Congo" REAL, "Bolivia" REAL, "Rwanda" REAL, "Federated States of Micronesia" REAL, "Cameroon" REAL, "Syria" REAL, "Tunisia" REAL, "Eswatini" REAL, "Wallis & Futuna Island" REAL, "Liberia" REAL, "Honduras" REAL, "Armenia" REAL, "Puerto Rico" REAL, "Cuba" REAL, "Somalia" REAL, "Palau" REAL, "Chad" REAL, "Gaza Strip and West Bank" REAL, "St Lucia" REAL, "Montenegro" REAL, "Gabon" REAL, "Northern Mariana Islands" REAL, "Djibouti" REAL, "Grenada" REAL, "Dominica" REAL, "Belize" REAL, "St Vincent & Grenadines" REAL, "Republic of Congo" REAL, "Polynesia (excl Hawaii) nec" REAL, "Burundi" REAL, "Lesotho" REAL, "Moldova" REAL, "St Kitts & Nevis" REAL, "Antigua & Barbuda" REAL, "Niue" REAL, "Nicaragua" REAL, "St Helena" REAL, "Cabo Verde" REAL, "Central African Republic" REAL, "Benin" REAL, "Equatorial Guinea" REAL, "Netherlands Antilles" REAL, "Pitcairn Islands" REAL, "Falkland Islands" REAL, "US Virgin Islands" REAL, "Haiti" REAL, "Gambia" REAL, "Guinea-Bissau" REAL, "French Guiana" REAL, "Niger" REAL, "Turkmenistan" REAL, "Tajikistan" REAL, "Turks & Caicos Islands" REAL, "St Pierre & Miquelon" REAL, "Montserrat" REAL, "Anguilla" REAL, "Sao Tome & Principe" REAL, "Democratic People\'s Republic of Korea" REAL, "Comoros" REAL, "Western Sahara" REAL, "Adelie Land (France)" REAL, "Antarctica" REAL, "Christmas Island" REAL, "Cocos Keeling Islands" REAL, "French Antilles" REAL, "French Southern Territories" REAL, "Midway Island" REAL, "US Pacific Islands" REAL, "South Sudan" REAL, "Former Sudan" REAL, "Other" REAL, PRIMARY KEY (Year))'

In [31]:
db_curs.execute(query_import_create)

In [32]:
xx.to_sql('YearTradeExport', db_conn, if_exists='append', index='Year')
yy.to_sql('YearTradeImport', db_conn, if_exists='append', index='Year')

In [33]:
xx = pd.read_sql('SELECT * FROM YearTradeExport', db_conn)
xx

,Year,China,Japan,Republic of Korea,United States,India,United Kingdom,Singapore,New Zealand,Taiwan,...,Antarctica,Christmas Island,Cocos Keeling Islands,French Antilles,French Southern Territories,Midway Island,US Pacific Islands,South Sudan,Former Sudan,Other
0,1987,1616.046000,10817.003000,1618.100000,5696.483000,na,2758.251000,1148.942000,3135.450000,1349.744000,...,na,na,na,na,na,na,na,None,na,3196.913032
1,1988,1234.102000,13123.017000,2118.142000,6014.207000,na,2892.279000,1636.117000,3370.522000,1568.326000,...,na,na,na,na,na,na,na,None,na,3037.879032
2,1989,1436.285000,14104.966000,2600.693000,6801.070000,na,3154.077000,2037.958000,3684.849000,1871.352000,...,na,na,na,na,na,na,na,None,na,3158.750032
3,1990,1587.787625,15547.315779,3132.085403,7653.133345,na,3486.098880,2803.856575,3789.891314,1957.490497,...,na,na,na,na,na,na,na,None,na,3591.089421
4,1991,1756.601118,17250.944657,3568.869189,7325.162915,na,3488.682459,3447.124886,3875.496918,2543.250749,...,na,na,na,na,na,na,na,None,na,4732.095002
5,1992,2094.104532,17562.515373,3932.616015,7062.849074,na,4137.420369,4425.992134,4199.524997,2889.771907,...,na,na,na,na,na,na,na,None,na,4678.478454
6,1993,2578.097318,18697.905979,4803.199295,7379.955574,na,4657.241501,4065.623799,4882.189014,3288.489008,...,na,na,na,na,na,na,na,None,na,5072.868531
7,1994,3165.148391,19269.489429,5368.566766,7020.033818,na,4241.047356,4465.994421,5578.586817,3449.351682,...,na,na,na,na,na,na,na,None,na,4874.959022
8,1995,3514.726069,19983.685953,7041.783562,7366.887582,na,4419.315867,5099.327005,6642.195722,3993.851655,...,na,na,na,na,na,na,na,None,na,5858.846417
9,1996,4234.540636,19438.246635,8320.880262,8120.721290,na,5155.465575,4422.617227,7278.501114,3911.795543,...,na,na,na,na,na,na,na,None,na,6515.685365
10,1997,4384.587219,20593.526031,7801.548878,9979.630518,na,4933.482553,5190.313271,7951.617118,4533.774053,...,na,na,na,na,na,na,na,None,na,9310.731728
11,1998,4279.031546,20973.595947,6618.939101,12720.802233,na,7621.077743,4670.981381,7507.907226,4747.954620,...,na,na,na,na,na,na,na,None,na,7173.597880
12,1999,4716.082749,20030.495159,6896.020655,12988.713056,1939.52,7054.878025,5709.454477,8747.023464,4672.293571,...,na,na,na,na,na,na,na,None,na,6428.590974
13,2000,6859.785578,25018.117243,9868.633854,16677.388929,2304.36,7757.923727,8012.142325,9408.788893,6003.586367,...,na,na,na,na,na,na,na,None,na,8616.621364
14,2001,8821.661888,26879.790286,10674.725932,16444.723621,2996.19,9287.526638,7816.960827,9996.769754,5802.998873,...,na,na,na,na,na,na,na,None,na,8883.653220
15,2002,10050.151212,25399.377860,11065.819071,16298.301226,3003.77,9914.369393,7590.375094,10751.108711,5184.344205,...,na,na,na,na,na,na,na,None,na,7936.209196
16,2003,11181.831628,22593.216142,9276.923163,14148.114330,3933.27,12006.505456,5835.630857,11194.325086,4176.519918,...,na,na,na,na,na,na,na,None,na,7387.836774
17,2004,13730.484174,25310.728617,10416.704890,13972.773314,6262,9863.687935,5672.676584,12035.276898,4568.461922,...,na,na,na,na,na,na,na,None,na,7360.578624
18,2005,19067.537013,31582.534287,12478.642381,13929.335568,8167.6,10098.122931,6746.027797,12611.750053,5985.779623,...,na,na,na,na,na,na,na,None,na,8483.209820
19,2006,23761.892608,35469.612063,14230.655547,15791.974305,10349.1,13565.592894,7603.314802,12608.920829,6758.594836,...,na,na,na,na,na,na,na,None,na,10703.306650
20,2007,27920.919492,34580.968397,15601.141383,15956.366443,11424,12342.088868,7513.391955,13369.931915,6478.704879,...,na,na,na,na,na,na,na,None,141.038,8016.378000
21,2008,37372.719198,53145.840986,20527.621866,18370.994174,16740,14286.998781,10410.610964,13338.814985,8784.000239,...,na,na,na,na,na,na,na,None,253.781,8944.055869
22,2009,48269.783594,40308.707969,17749.508943,15401.965362,18307.8,13669.073934,8617.208185,11449.907010,7112.382079,...,na,na,na,na,na,na,na,None,312.606,5859.123080
23,2010,64892.274633,45682.803733,22662.105992,14801.694522,19973.9,12774.385034,7762.061102,11539.874010,8968.285861,...,na,na,na,na,na,na,na,None,185.341,6613.421515
24,2011,78129.446031,52378.101244,25255.518161,15455.692224,18158.2,11972.248480,9835.007324,11333.734226,9757.452147,...,na,na,na,na,na,na,na,None,202.845,6953.547664
25,2012,74821.262491,49852.945422,21812.612682,15144.193555,14465.8,11193.670228,10568.272449,11214.704666,8740.188070,...,na,na,na,na,na,na,na,0.557331,193.014,7198.325926
26,2013,94074.015395,49436.248874,21456.124896,16034.466217,11594,8573.845688,9425.057794,11329.080642,8193.771313,...,na,na,na,na,na,na,na,na,None,7281.743888
27,2014,91740.716142,50187.841813,22170.968706,18596.759973,11534.2,8887.625015,12289.829693,12449.651208,8091.259430,...,na,na,na,na,na,na,na,na,None,7364.716162
28,2015,86742.466505,42154.947115,20226.129185,22083.373623,13906.1,9341.185912,11267.376302,12967.847847,7627.943146,...,na,na,na,na,na,na,na,na,None,6152.295667
29,2016,95681.896769,38451.460279,20430.602614,20617.717527,15199.8,15462.041997,10710.349647,13253.127759,8935.667760,...,na,na,na,na,na,na,na,na,None,6517.744600
30,2017,116012.837126,47220.382168,23535.751365,20983.190293,20268.6,11552.742936,11959.888249,14037.802041,10404.831751,...,na,na,na,na,na,na,na,na,None,6935.740362
31,2018,136585.078829,58788.526913,26585.008156,23156.864232,22408.6,10501.812162,14709.485822,15048.887103,12253.088677,...,na,na,na,na,na,na,na,na,None,6832.741971
32,2019,168575.269720,60417.153432,28222.264120,25440.338679,21787,21207.749627,16886.822235,16565.765075,14304.360426,...,na,na,na,na,na,na,na,na,None,7442.436544

In [34]:
yy = pd.read_sql('SELECT * FROM YearTradeImport', db_conn)
yy

,Year,China,Japan,Republic of Korea,United States,India,United Kingdom,Singapore,New Zealand,Taiwan,...,Antarctica,Christmas Island,Cocos Keeling Islands,French Antilles,French Southern Territories,Midway Island,US Pacific Islands,South Sudan,Former Sudan,Other
0,1987,834.271000,8605.886000,1069.689000,10820.323000,na,5091.309000,1335.480000,2246.191000,1723.217000,...,na,na,na,na,na,na,na,None,na,1671.317000
1,1988,996.650000,9601.499000,1180.952000,12121.967000,na,5684.175000,1642.150000,2605.651000,1854.224000,...,na,na,na,na,na,na,na,None,na,3082.232762
2,1989,1355.004000,11768.902000,1437.671000,15206.514000,na,6419.159000,2069.223000,2953.162000,2173.338000,...,na,na,na,na,na,na,na,None,na,2538.937000
3,1990,1456.049910,10641.232954,1288.167527,15983.179797,na,6377.939091,1959.903549,3020.396971,1846.172705,...,na,na,na,na,na,na,na,None,na,3598.950825
4,1991,1864.599830,10018.172416,1362.373590,15816.686177,na,5871.530141,2144.407353,3093.319113,1954.576093,...,na,na,na,na,na,na,na,None,na,3493.316083
5,1992,2549.469540,11377.087872,1656.085122,16390.622111,na,6340.200229,2195.154306,3427.896227,2216.020492,...,na,na,na,na,na,na,na,None,na,4022.951815
6,1993,3225.457082,13263.953005,2047.687663,17301.426166,na,6774.422731,2515.857932,3896.932775,2423.997480,...,na,na,na,na,na,na,na,None,na,4427.011941
7,1994,3745.017037,13649.569666,1996.294841,19018.727459,na,7477.928245,3116.119920,4280.207221,2593.214110,...,na,na,na,na,na,na,na,None,na,5431.004268
8,1995,4320.471645,13585.791005,2540.655369,21252.190384,na,8376.361168,3724.458088,4618.473719,2729.336066,...,na,na,na,na,na,na,na,None,na,5069.695425
9,1996,4577.992162,11696.983045,2612.729840,22938.165814,na,9030.069371,3917.301574,4770.908798,2704.606031,...,na,na,na,na,na,na,na,None,na,4351.999410
10,1997,5277.335309,12807.193272,3241.231538,23762.429827,na,8892.589901,3576.117876,4903.085665,2812.886809,...,na,na,na,na,na,na,na,None,na,7330.526117
11,1998,6443.545589,14821.941989,4477.264515,27457.781416,na,9333.228374,4114.645063,5317.461103,3096.598156,...,na,na,na,na,na,na,na,None,na,7695.656044
12,1999,7216.065520,15593.432125,4111.474082,27410.791014,823.844,8843.940168,6045.710866,5622.574147,3127.632097,...,na,na,na,na,na,na,na,None,na,7126.202147
13,2000,9805.206049,17034.496533,5077.688109,30261.357550,1008.42,11408.908532,5764.532636,6135.449691,3665.179400,...,na,na,na,na,na,na,na,None,na,8609.206965
14,2001,11067.902187,17150.614357,4987.649002,27747.071861,1078.23,10336.213363,6174.653735,6568.070869,3176.956618,...,na,na,na,na,na,na,na,None,na,8587.587588
15,2002,13805.201150,17240.120878,5087.877341,29487.755971,1190.58,10135.003548,6723.314107,6721.490205,3522.180473,...,na,na,na,na,na,na,na,None,na,8752.835989
16,2003,15194.029098,17810.401054,5177.929081,26922.809637,1222.72,9883.456387,6667.412573,7058.161253,3549.593050,...,na,na,na,na,na,na,na,None,na,9279.391636
17,2004,19159.377452,18405.641626,5265.926554,26949.600867,1422.37,10526.579848,8800.147431,7350.003575,3832.934867,...,na,na,na,na,na,na,na,None,na,10873.739301
18,2005,22837.527994,18917.192332,5520.359516,28181.761523,1595.49,11134.547226,11634.615969,7607.784061,3888.231696,...,na,na,na,na,na,na,na,None,na,12158.558508
19,2006,26795.805063,19112.271536,7332.174495,32145.926023,1797.01,10861.926395,14851.599227,8001.210740,4418.554714,...,na,na,na,na,na,na,na,None,na,15348.988479
20,2007,30427.565776,19828.663456,6356.847970,33278.384692,2138.49,13425.413442,14903.017534,9117.695112,4582.427589,...,na,na,na,na,na,na,na,None,21.0508,13995.011387
21,2008,36886.587791,22491.021456,6885.939063,37910.558850,2641.08,15973.173251,21139.661070,10745.439735,4657.637004,...,na,na,na,na,na,na,na,None,25.0261,14473.005862
22,2009,37343.942680,18777.874522,7009.092851,35325.884439,2911.1,12160.827981,14723.403054,9944.483508,3518.880534,...,na,na,na,na,na,na,na,None,24.1061,13147.562096
23,2010,40923.576157,20573.478639,7633.907903,36378.273213,2841.53,12160.168476,14106.608138,10315.607595,3866.388387,...,na,na,na,na,na,na,na,None,25.0455,17739.952165
24,2011,43919.338751,20078.836613,7600.143991,40711.597930,3170.31,13186.171127,17893.390096,10970.508730,4008.840872,...,na,na,na,na,na,na,na,None,30.0329,22121.156328
25,2012,46442.355277,21420.452755,10517.782803,43310.118218,3792.78,13162.219917,18712.428536,10576.312982,3963.496993,...,na,na,na,na,na,na,na,0.001688,29.1227,24722.876875
26,2013,49570.573421,21608.578349,11414.666196,41003.492667,4089.8,13229.633467,17902.792084,11107.591980,4279.551557,...,na,na,na,na,na,na,na,na,None,24032.306659
27,2014,54460.002069,20095.807039,13265.988736,43391.764039,4699.14,13491.491234,17583.730219,11906.581262,4773.205068,...,na,na,na,na,na,na,na,na,None,18877.834361
28,2015,64377.151460,23027.151265,16168.882789,49372.259027,6569.86,15221.703269,14740.851750,12012.666782,5056.546869,...,na,na,na,na,na,na,na,na,None,15335.122659
29,2016,62323.169154,22823.685126,11869.983615,44953.560396,6317.15,14868.644756,12364.538168,12378.166312,4686.060985,...,na,na,na,na,na,na,na,na,None,17908.037440
30,2017,67448.499164,24812.992964,31746.641298,47331.938119,7351.95,15486.165351,13375.901796,13570.623637,4723.938218,...,na,na,na,na,na,na,na,na,None,5547.133617
31,2018,78303.087581,26987.554652,14455.046830,50864.937879,8012.24,16518.414897,17257.645117,14289.006558,5404.603989,...,na,na,na,na,na,na,na,na,None,18729.381410
32,2019,82841.712158,26357.178378,13096.198437,55532.514006,7445.04,17246.245338,16294.410074,14541.929954,5869.680082,...,na,na,na,na,na,na,na,na,None,19868.961737